:root {
    --azul: #263d79;
    --verde: #80a605;
    --amarillo: #f6cb04;
    --negro: #444444;
    --blanco: #fff;
}

html {
    font-size: 100%; /* Accesibility */
}

*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 18px;
    color: var(--blanco);
    /* overflow-y: hidden; */
}

img {
    max-width: 100%;
}

ul,
ol {
  list-style: none;
}

.container {
    max-width: 1440px;
    margin-inline: auto;
    padding: 10px 20px;
}

a,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

button {
    font-size: inherit;
    font-family: inherit;
}

i {
    font-size: 1.5rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Top header */

.top-header {
    background-color: var(--azul);
}

.redes-sociales {
    max-width: 200px;
    display: flex;
    gap: 15px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--blanco);
    width: 40px;
    height: 40px;
}

.icon-container i {
    color: var(--azul);
}

.top-cta, .top-cta > * {
    display: flex;
    align-items: center;
}

.top-cta > * {
    gap: 10px;
}

.top-cta .correo{
    border-right: 1px solid var(--blanco);
    padding-right: 25px;
}

.top-cta .telefono{
    border-left: 1px solid var(--blanco);
    padding-left: 25px;
}

.correo,
.telefono {
    cursor: pointer;
}


/* Main header */

.site-logo {
    display: flex;
    margin-left: -8px;
    cursor: pointer;
}

.transparencia {
    display: flex;
    gap: 10px;

}

.transparencia-btn {
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    border: 4px solid #DCDCDC;
    background-color: var(--negro);
    padding: 0.725rem 1.3rem;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.transparencia-btn::after {
    top: 0;
    right: 0%;
    content:" ";
    background: #EB3C46;
    height:10%;
    position:absolute;
    width:10%;
}

.transparencia-btn::before {
    top: 0;
    right: 10%;
    content:" ";
    background: #0F69B4;
    height:10%;
    position:absolute;
    width:10%;
}

.construction {
    display: none;
}

.btn-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-text span:first-of-type {
    font-size: 14px;
}

.btn-text span:last-child {
    font-weight: 600;
}


/* Main */

.main {
    z-index: 1;
    position: relative;
    background-color: black;
}

.main::before {
    position: absolute;
    content: '';
    background-image: url(/assets/Img/EztOM1QXIAUGBQx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main-text {
    margin-top: 2rem;
    text-align: center;
    min-width: fit-content;
    padding-inline: 2rem;
}

.main-text h1 {
    font-size: 3rem;
}

.main-servicios {
    display: flex;
    padding-bottom: 7.2rem;
    margin-top: 4rem;
    gap: 15px;
    margin-inline: 0.5rem;
}

.servicio {
    border: 1px solid var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 2rem 0;
    margin: 0 auto;
    flex-basis: 100%;
    background-color: #263e7991;

}

.sitio h2,
.gas h2,
.aseo h2,
.circulacion h2{
    padding-inline: 6rem;
}

.sitio p,
.gas p,
.aseo p,
.circulacion p{
    padding-inline: 3.9rem;
}

.servicio-icon {
    font-size: 50px;
    color: var(--amarillo);
}

.servicio button {
    padding: 12px 45px 12px 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--amarillo);
    border-radius: 0.2rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
}


.footer {
    display: none;
}

.redes-sociales-footer,
.top-cta-footer {
    display: none;
}

/* Media queries */


@media  (max-width: 1280px) {
    .servicio {
        font-size: 1rem;
    }

    .gas p {
        padding-inline: 2rem;
    }
} 


@media  (max-width: 1180px) {
    

    .transparencia {
        display: none;
    }

    .construction {
        display: block;
    }

    .construction i{
        color: var(--azul);
        font-size: 2.5rem;
    }

    .main-text h1 {
        font-size: 2.5rem;
    }

    .main-text p {
        font-size: 1rem;
    }

    .main-servicios {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 15px; 
        padding-bottom: 4rem;
    }

    .gas {
        grid-column: 1/3;
    }

    .sitio h2,
    .gas h2,
    .circulacion h2{
        padding-inline: 0.5rem;
    }

    .sitio p,
    .circulacion p {
        padding-inline: 1rem;
    }
    
    .gas p {
        padding-inline: 7rem;
    }

    .footer {
        display: block;
    }

    .footer .container {
        background: var(--azul);
    }

    .transparencia-footer {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

@media  (max-width: 868px) {
    
    .transparencia-footer {
        flex-direction: column;
    }

}

@media  (max-width: 672px) {
    
    .top-header {
        display: none;
    }

    .main-text h1 {
        font-size: 2rem;
    }

    .sitio h2,
    .gas h2,
    .circulacion h2{
        padding-inline: 2rem;
    }

    .sitio p,
    .circulacion p,
    .gas p {
        padding-inline: 3rem;
    }

    .main-servicios {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
    }

    .gas {
        grid-column: auto;
    }

    .redes-sociales-footer {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        gap: 15px;
        border-bottom: 1px solid #DCDCDC;
    }

    .top-cta-footer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .top-cta-footer > * {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}